main{
  margin-left: 296px;
  width: 100%;
}

.main_header{
  padding: 32px;
  font-weight: bold;
  a{
    color: #000;
  }
  &_title{
    font-size: 24px;
    line-height: 33px;
    padding-right: 48px;
  }
  .search{
    margin-right: 26px;
    input{
      margin-right: 16px;
      padding-left: 5px;
      display: none;
    }
  }
}
.dropdown{
  display: inline-block;
}
.dropdown-toggle{
  font-weight: bold;
  span{
    color: #2A8356;
    margin-left: 8px;
  }
  &::after{
    display: none;
  }
}
.main_content{
  margin: 32px;
  margin-top: 12px;
  .dropdown-toggle{
    padding: 6px 0;
  }
}
.list-group-item{
  border-color: #CDDDCD;
  color: #000;
  padding: 12px;
  div{
    font-size: 14px;
    line-height: 24px;
  }
  &.active{
    color: #000;
    background: #EDF4EE;
    border-color: #CDDDCD;
  }
}

.project_title{
  font-size: 16px;
  font-weight: bold;
}
.project_user_name{
  color: #0000009A;
}

.tab-content{
  margin-top: -24px;
}
.comment_num{
  font-size: 12px;
  line-height: 24px;
  color: #707070;
  text-align: right;
  margin-right: 1px;
}
.card{
  border-color: #CDDDCD;
}
.card-header{
  background: #EDF4EE;
}
.project_moreBtn{
  color: #000;
  &:hover{
    color: #2A8356;
  }
}
.media_img_1{
  background: url(../images/emilywang.jfif) no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.media_img_2{
  background: url(../images/andychen.jfif) no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.account_uptime{
  font-size: 12px;
  line-height: 24px;
}
.mb-2-5{
  margin-bottom: .75rem !important;
}
.media_body_main{
  font-size: 14px;
  line-height: 21px;
}