main{
  margin-left: 296px;
  width: 100%;
}

.main_header{
  padding: 32px;
  font-weight: bold;
  a{
    color: #000;
  }
  &_title{
    font-size: 24px;
    line-height: 33px;
    padding-right: 48px;
  }
  .search{
    margin-right: 26px;
    input{
      margin-right: 16px;
      padding-left: 5px;
      display: none;
    }
  }
  .dropdown-toggle{
    padding: 6px 0;
    font-weight: bold;
    &::after{
      display: none;
    }
    span{
      color: #2A8356;
      margin-left: 8px;
    }
  }
}

.dropdown{
  display: inline-block;
}
.main_content{
  margin: 32px;
  margin-top: 12px;
  .dropdown-toggle{
    padding: 6px 0;
    font-weight: bold;
    span{
      color: #2A8356;
      margin-left: 8px;
    }
    &::after{
      display: none;
    }
  }
}
.list-group-item{
  border-color: #CDDDCD;
  color: #000;
  padding: 12px;
  div{
    font-size: 14px;
    line-height: 24px;
  }
  &.active{
    color: #000;
    background: #EDF4EE;
    border-color: #CDDDCD;
  }
}

.project_title{
  font-size: 16px;
  font-weight: bold;
}
.project_user_name{
  color: #0000009A;
}

.tab-content{
  margin-top: -24px;
}
.comment_num{
  font-size: 12px;
  line-height: 24px;
  color: #707070;
  text-align: right;
  margin-right: 1px;
}
.card{
  border-color: #CDDDCD;
}
.card-header{
  background: #EDF4EE;
}
.project_moreBtn{
  color: #000;
  &:hover{
    color: #2A8356;
  }
}
.media_img_1{
  background: url(../images/emilywang.jfif) no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.media_img_2{
  background: url(../images/andychen.jfif) no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.account_uptime{
  font-size: 12px;
  line-height: 24px;
  color: #0000009A;
}
.mb-2-5{
  margin-bottom: .75rem !important;
}
.media_body_main{
  font-size: 14px;
  line-height: 21px;
  margin-right: 12px;
  .btn{
    background: #EDF4EE;
    border: 1px #CDDDCD solid;
    margin-top: 16px;
    font-weight: bold;
    width: 177px;
    span{
      margin-right: 8px;
    }
  }
}
.star-edit_btn span{
  color: #000;
  &:hover{
    color: #2A8356;
  }
}
.edit_btn{
  margin-left: 24px;
  margin-right: 12px;
}
hr{
  margin-left: 48px;
  margin-right: 12px;
  background: #CDDDCD;
}
code{
  background: #EDF4EE;
  color: #2A8356;
  padding: 1px 5px;
}
.suggest_tips{
  list-style: disc;
  li{
    margin-left: 28px;
  }
}
.lastnext_btn span{
  color: #000;
  &:hover{
    color: #2A8356;
  }
  &:nth-child(1){
    margin-right: 23px;
  }
}
.btn_mark{
  border: #2A8356 1px solid;
  color: #2A8356;
  font-weight: bold;
  padding: 8px 32px;
  &:hover{
    background: #EDF4EE;
    color: #2A8356;
  }
}
.btn_reply{
  background: #2A8356;
  color: #fff;
  padding: 8px 32px;
  &:hover{
    background: darken(#2A8356, 10%);
    color: #fff;
  }
}
.card_reply{
  bottom: 0;
  z-index: 1;
  width: 0;
  height: 0;
  .dropdown-toggle::after {
    display: inline-block;
    margin-left: .75em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
  }
}