.l_nav {
  width: 296px;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  .logo_img {
    background: url(../images/logo.svg) no-repeat;
    @include text-hide;
    width: 151px;
    height: 40px;
    margin: 0 32px 32px 32px;
  }
  .l_menu {
    list-style: none;
    li {
      padding-bottom: 24px;
      a {
        color: #000;
      }
      a:hover {
        color: #2a8356;
        border-left: 3px solid #2a8356;
      }
    }
  }
}
.account {
  padding: 0 32px 32px 32px;
  .account_img {
    background: url(../images/andychen.jfif) no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  &_user_name {
    font-size: 16px;
  }
  &_user_email {
    font-size: 14px;
    line-height: 24px;
  }
}
